# Node
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
config.env
venv
**/__pycache__/
**/zappa_settings.json
**/firebase-service-account.json
*.pem
.firebase/
.firebaserc
firebase.json



